@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(/assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: philosopher;
  src: url(/assets/fonts/philosopher-regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(/assets/fonts/Raleway-Regular.ttf);
}

:root {
  --main-color: #69040C;
  --second-color: #F4E1D0;
  --third-color: #BD8915;
  --fourth-color: #AB0918;
  --fifth-color: #148276;
  --title-font: PlayfairDisplay-Regular;
  --text-font: Raleway;

}

* {

  list-style: none;
  font-family: var(--text-font);
  margin: 0;
  padding: 0;


}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

body {
  background-color: var(--second-color);
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}


.navbar ul {

  background-color: var(--main-color);
  height: 3.75rem;
  font-family: var(--title-font);
}

.wide-screen-menu {
  display: none;
}

#main_logo {
  width: auto;
  height: 4.2rem;
  top: 0vw;
  left: 0.2rem;
}

#tickets_logo {
  position: absolute;
  top: 0.2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 3.5rem;
  z-index: 30;
}

/* Burger menu */

.hamburger {
  display: block;
  position: absolute;
  right: 1.5rem;
  top: 0.9rem;
}

.bar-top,
.bar-bot,
.bar-mid {
  display: block;
  width: 1.5rem;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--second-color);
}

.offscreen-menu {
  display: none;
  z-index: 1;
  width: 4.2rem;
  padding: 0.8rem 1.2rem;
  gap: 0.9rem;
  position: fixed;
  right: 0px;
  top: 3.75rem;
  text-align: center;
  align-items: center;
  background-color: var(--main-color);
  transition: 2s;
  flex-direction: column;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  ;
}

.offscreen-menu.active {
  display: flex;
}


.offscreen-menu li a {
  text-decoration: none;
  color: var(--second-color);
}

.offscreen-menu-line {
  display: block;
  border: 0;
  border-top: 1px solid var(--third-color);
  width: 5rem;
}

/* End of Burger menu */

/* Partie Olga*/

/*slider*/

#video_slider {
  margin-top: 3.75rem;
}

#video_slider p {
  background-color: black;
}


.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 22px;
}

.csslider>input {
  display: none;
}

.csslider>input:nth-of-type(3):checked~ul li:first-of-type {
  margin-left: -200%;
}

.csslider>input:nth-of-type(2):checked~ul li:first-of-type {
  margin-left: -100%;
}

.csslider>input:nth-of-type(1):checked~ul li:first-of-type {
  margin-left: 0%;
}

.csslider>ul {
  position: relative;
  width: 100vw;
  height: 80vh;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.csslider>ul>li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}

.csslider>.navigation {
  position: absolute;
  bottom: -2px;
  left: 50%;
  z-index: 10;
  margin-bottom: -1px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csslider>.navigation>div {
  margin-left: -100%;
}

.csslider>.navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #3A3A3A;
}

.csslider>.navigation label:hover:after {
  opacity: 1;
}

.csslider>.navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #ff0000;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}

.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}

.csslider>input:nth-of-type(1):checked~.navigation label:nth-of-type(1):after,
.csslider>input:nth-of-type(2):checked~.navigation label:nth-of-type(2):after,
.csslider>input:nth-of-type(3):checked~.navigation label:nth-of-type(3):after {
  opacity: 1;
}


/*#region MODULES */
/*#endregion */
/*___________________________________ LAYOUT ___________________________________ */
* {
  margin: 0;
  padding: 0;
}



#slider1>input:nth-of-type(3):checked~ul #bg {
  width: 80%;
  padding: 1vw;
  -moz-transition: .5s .5s;
  -o-transition: .5s .5s;
  -webkit-transition: .5s .5s;
  transition: .5s .5s;
}

#slider1>input:nth-of-type(3):checked~ul #bg div {
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  -moz-transition: .5s .9s;
  -o-transition: .5s .9s;
  -webkit-transition: .5s .9s;
  transition: .5s .9s;
}

/*#videos */
/*___________________________________ LAYOUT ___________________________________ */
video {
  width: 80vw;
  height: auto;
  background: transparent url('') no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* slider*/


#main_title {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 3vw 10vw 2vw 10vw;
  position: absolute;
  top: 11%;
  z-index: 0;
  color: rgb(244, 225, 208, 0.8);
  font-size: 10vw;

}

#elephant {
  width: 65%;
  margin-top: 6vw;
}

#acrobats {
  width: 80%;
}

#gymnaste {
  width: 70%;
}


.conteneur_description {
  width: 70%;
  margin: auto;
}

.conteneur_description article div {
  display: flex;
  justify-content: center;
  text-align: center;

}

.discription_articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3em;
}

.discription_articles h2 {
  margin: 2vw 0 3.5vw;

}


/* Partie Anthony Tickets */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#tickets h1 {
  text-align: center;
  margin: 10px;
}

#tickets_picture {
  margin-top: 3.5rem;
  width: 100%;
  height: auto;

}

.conteneur_tickets h2 {
  text-align: center;

}

#tickets h3 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}


.button_tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.button_tickets p {
  text-align: center;
}

button {
  display: flexbox;
  background-color: #148276;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #BD8915;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}


/* Prumpt réservation */
/* Fixer le bouton sur le côté gauche de la page */
.open-btn {
  display: flex;
  justify-content: flex-start;
}

/* Positionnez la forme Popup */
.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
}

/* Masquez la forme Popup */
.form-popup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  z-index: 9;
}

/* Styles pour le conteneur de forme */
.form-container {
  width: 70vw;
  padding: 20px;
  background: #F4E1D0;
  border-radius: 30px;
}

/* Styles pour le conteneur de forme h2 */
.form-container h2 {
  margin: 1vw 1vw 2vw 1vw;
}

/* Largeur complète pour les champs de saisie */
.form-container input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
}

/*Quand les entrées sont concentrées, faites quelque chose */
.form-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Stylez le bouton de connexion*/
.form-container .btn {
  background-color: #148276;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Stylez le bouton pour annuler */
.form-container .cancel {
  background-color: #AB0918;
}

/* Planez les effets pour les boutons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#team_picture {
  margin-top: 3.5rem;
  width: 100%;
  height: auto;
}

#team_title {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.conteneur_about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.conteneur_about .first_artist {
  width: 90%;
  justify-content: center;
  text-align: center;
  padding: 3%;
  margin-bottom: 5vw;
}

.conteneur_about .second_artist {
  width: 90%;
  justify-content: center;
  text-align: center;
  padding: 3%;
  margin-bottom: 5vw;
}

.conteneur_about .third_artist {
  width: 90%;
  justify-content: center;
  text-align: center;
  padding: 3%;
  margin-bottom: 5vw;
}

.conteneur_about .fourth_artist {
  width: 90%;
  justify-content: center;
  text-align: center;
  padding: 3%;
  margin-bottom: 5vw;
}



.first_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;


}

.second_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;

}

.third_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;

}

.fourth_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;

}

.first_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

.second_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

.third_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

.fourth_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

/* Section contact us*/

#contact_picture {
  width: 100%;
  height: auto;
  margin-top: 3.5rem;
}

.box_login h1 {
  text-align: center;
  margin-top: 50px;
}

.box_contact {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box_login {
  flex-shrink: 0;
  border-radius: 5px;
  position: absolute;


}

.form_groupe {
  position: relative;
}

label {
  margin: 5px 23px;
  font-size: 20px;
  padding: 10px 0 2px 0;
  display: block;
  position: relative;
}

input {
  display: block;
  margin: 10px 20px 20px 20px;
  outline: 0;
  background: rgb(226, 226, 226);
  width: 80vw;
  border: 0;
  padding: 10px 12px;
  border-radius: 3px;
  font-size: 17px;
  border: 1px solid rgba(0, 0, O, 0.3);

}

textarea {
  display: block;
  margin: 10px 20px 20px 20px;
  outline: 0;
  background: rgb(226, 226, 226);
  width: 80vw;
  height: 30vh;
  border: 0;
  padding: 10px 12px;
  border-radius: 3px;
  font-size: 17px;
  border: 1px solid rgba(0, 0, O, 0.3);
}

.form_groupe img {
  text-align: center;
  width: 40px;
}

.icone_verif {
  width: 30px;
  position: absolute;
  right: 27px;
  top: 45px;
  display: none;
}

.message_alerte {
  margin: 0px 23px;
  color: crimson;
  display: none;
}

.box_login form button {
  display: block;
  margin: 30px auto;
  outline: 0;
  width: 90%;
  border: 0;
  padding: 15px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;

}

/* footer */


#logo_reseaux {
  width: 25%;
}

footer {
  margin: 10vw 0 4vw 0;
}

footer div {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 0.6em;
}

.otherline {
  width: 70%;
}

.line {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .csslider>ul {
    height: 25vh;

  }
}

@media screen and (min-width: 601px) {

.navbar ul {
  height: 5rem;
}


.wide-screen-menu {
  display: flex;
  justify-content: center;
}

  .otherline {
    width: 20%;
  }

  .first_article {
    display: flex;
  }
    .second_article {
    display: flex;
    flex-direction: row-reverse;
    margin: 5vh 0;
  }

  .third_article {
    display: flex;
    margin-bottom: 5vh;
  }

.about-us-navbar {
  position: relative;
  width: 40%;
  right: 100px;
}

.contact-navbar {
  position: relative;
  width: 40%;
  left: 100px;
}

  .navbar ul {
    height: 2.5rem;
  }

/*
.wide-screen-menu li a:hover {
  font-size: 1.11em;
  font-weight: bold;
  transition: all 0.5s ease;
}
*/

#main_logo {
  height: 8.5rem;
  left: 0rem;
}


  .wide-screen-menu li a {
    text-decoration: none;
    color: var(--second-color);
  }

#tickets_logo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}


  #main_logo {
    height: 7rem;
    left: 1rem;
  }

  #tickets_logo {
    top: 0.5rem;
    height: 5.8rem;
  }

  /* Burger menu */

  .hamburger {
    display: none;
  }

  .offscreen-menu {
    display: none;
  }

  /*paulBRANCH*/
  input {

    width: 50vw;
  }

  textarea {

    width: 50vw;
    height: 30vh;
  }

  .box_login h1 {
    margin-bottom: 50px;
    margin-top: 70px;
  }

  .conteneur_about .first_artist {
    width: 40%;

  }

  .conteneur_about .second_artist {
    width: 40%;

  }

  .conteneur_about .third_artist {
    width: 40%;

  }

  .conteneur_about .fourth_artist {
    width: 40%;

  }
/* Partie Anthony*/

  .btn-tickets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;


}
button {
  background-color: #148276;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
/* Styles pour le conteneur de forme */
.form-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 20px;
  background: #F4E1D0;
  border-radius: 30px;
}
.paraf{
  width: 30%;
}

}