@font-face {
  font-family: circus;
  src: url(/assets/fonts/circus.ttf);
}

@font-face {
  font-family: philosopher;
  src: url(/assets/fonts/philosopher-regular.ttf);
}

:root {
  --main-color: #69040C;
  --second-color: #F4E1D0;
  --third-color: #BD8915;
  --fourth-color: #AB0918;
  --fifth-color: #148276;
  --title-font: circus;
  --text-font: philosopher-regular;
}

* {

  list-style: none;
  font-family: var(--text-font);
  margin: 0;
  padding: 0;


}

body {
  background-color: var(--second-color);
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}


.navbar ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-color);
  height: 75px;
  font-family: var(--title-font);
  box-sizing: border-box;

}

#main_logo {
  width: auto;
  height: 100px;
  position: absolute;
  top: 15px;
  left: 5px;

}

#tickets_logo {
  width: auto;
  height: 70px;
}

.video_container {
  width: 100%;
}

#video_gymnaste_line {
  width: 100%;
  height: auto;
}

/* Partie Olga*/

#homepage h1 {
  font-family: var(--title-font);
}

#main_title {
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

#elephant {
  width: 65%;
}

#acrobats {
  width: 80%;
}

#gymnaste {
  width: 70%;
}

.conteneur_description p {
  font-family: var(--text-font);
}

.conteneur_description {
  width: 70%;
  margin: auto;
}

.conteneur_description article div {
  display: flex;
  justify-content: center;
  text-align: center;

}

.discription_articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4em;
}

.discription_articles h2 {
  font-size: 1.8em;
  margin-top: 2vw;
}


/* Partie Anthony Tickets */

#tickets h1 {
  text-align: center;
  margin: 50px;
}

#tickets_picture {
  width: 100%;
  height: auto;

}

.conteneur_tickets h2 {
  background-color: #1486;
  text-align: center;
  margin: 50px;
}

#tickets h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5px;
}

#tickets h4 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 5px;
}

.button_tickets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px;


}

button {

  display: flexbox;
  background-color: #148276;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;


}

#team_picture {
  width: 100%;
  height: auto;
}

#team_title {
  font-family: var(--text-font);
  font-size: 3em;
  text-align: center;
  margin-top: 7vh;
}

/* IL VA FALLOIR PASSER LA POLICE PAR DEFAULT SUR TEXT FONT */
p {
  font-family: var(--text-font);
}

h2 {
  font-family: var(--text-font);
}


/* FIN D4EFFET DU COMMENTAIRE */
.conteneur_about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.conteneur_about .first_artist {
  width: 40%;
  justify-content: center;
  text-align: center;
  padding: 3%;
}

.conteneur_about .second_artist {
  width: 40%;
  justify-content: center;
  text-align: center;
  padding: 3%;
}

.conteneur_about .third_artist {
  width: 40%;
  justify-content: center;
  text-align: center;
  padding: 3%;
}

.conteneur_about .fourth_artist {
  width: 40%;
  justify-content: center;
  text-align: center;
  padding: 3%;
}



.first_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;

}

.second_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.third_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.fourth_artist div p {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.first_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

.second_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

.third_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

.fourth_artist div img {
  width: 30%;
  margin-bottom: 2vw;
}

/* Section contact us*/

#contact_picture{
  width:100%;
  height: auto;
}

