@font-face {
  font-family: circus;
  src: url(/assets/fonts/circus.ttf);
}

@font-face {
  font-family: philosopher;
  src: url(/assets/fonts/philosopher-regular.ttf);
}

:root {
  --main-color: #69040C;
  --second-color: #F4E1D0;
  --third-color: #BD8915;
  --fourth-color: #AB0918;
  --fifth-color: #148276;
  --title-font: circus;
  --text-font: philosopher-regular;
}

* {
  font-family: var(--title-font);
}

#main_logo {
  width: 15%;
  height: auto;
}

#tickets_logo {
  width: 15%;
  height: auto;
}